*.o
*.so
*.cuo
*.pyc
*.out
*.tar*
*.zip

src/particle_sim
src/mandelbrot
src/fractalexplorer

.vscode

.DS_Store

*.zip
*.tar*
*.o
*.a
*.so
.vscode/
*.flv
*.o
*.la

*.dylib
*.dll
*.so
*.do
*.lo

/m4/

.dirstamp

a.out.dSYM

ltmain.sh

*.raw
*.meta
*.anim
*.mp4
*.gif
*.bmp
*.a
*.la
*.so
*.dylib


*.color
!example_*

*.orig
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
configure.lineno
depcomp
install-sh
libtool
ltmain.sh
missing
*.pc
test-driver

*.orig
*.o
*.out

*.result

*.tar
*.tar.*


autom4te.cache
autoscan.log
autoscan-*.log
aclocal.m4
compile
config.guess
config.h*
config.sub
configure
configure.scan
depcomp
install-sh
missing
stamp-h1



*.pyc
compileopencl.sh
*.o

*.png
*.jpg
*.jpeg
*.gif
*.avi
*.bmp
*.mov
*.avi
*.mpg
*.mpeg
*.mp4
*.wmv
*.jp2
*.tif
.vscode/

*.Po
